<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="權息通，提供給定存族去查詢股票歷年除權、除息後的填權、填息資料。" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta property="og:title" content="權息通" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://stocker-web.herokuapp.com/" />
    <meta property="og:image" content="https://stocker-web.herokuapp.com/Stock-BG.jpg" />
    <meta property="og:description" content="權息通，提供給定存族去查詢股票歷年除權、除息後的填權、填息資料。" />
    <title>權息通</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <noscript>Sorry, we need js to run correctly!</noscript>
    <div id="root"></div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135770652-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-135770652-1');
    </script>
  </body>
</html>
